﻿<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TodoList Sample</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  <link href="~/Content/todolist.css" rel="stylesheet" />
</head>
<body>
  <header>
    <div>
      <a href="@Url.Action("Index", "Home")">
        <i class="glyphicon glyphicon-tasks"></i>&nbsp;TodoList Sample Application
      </a>
    </div>
    <div class="title">
      @RenderSection("title", required: false)
    </div>
    <div></div>
  </header>
  <main>
    @RenderBody()
  </main>
  <footer>
    <p>&copy; @DateTime.Now.Year - TodoList Sample</p>
  </footer>
  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")
  @RenderSection("scripts", required: false)
</body>
</html>
