﻿@section title{
  React (ReactJS.NET) Version
}
@section scripts{
  @Html.Partial("DefineReact")
  <script src="~/js/main.js"></script>  
}

<div id="todolist" class="todolistcontent">
  <div class="waitloading">
    loading...
  </div>
</div>