﻿@section title{
  React (ReactJS.NET) Version
}
@section scripts{
  @Html.Partial("DefineReact")

  @Scripts.Render("~/bundles/react")
}

<div id="todolist" class="todolistcontent">
  <div class="waitloading">
    loading...
  </div>
</div>